.vscode/**
.vscode-test/**
node_modules/**
out/**
src/**
scripts/**
test/**
docs/**
prompts/**
esbuild.js
tsconfig.json
.gitignore
.gitattributes
.eslintrc*
**/*.map
**/*.ts

!assets/icon-index/**
!dist/**
!README.md
!LICENSE
!ICON-LICENSES.md
!CHANGELOG.md
